.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 1.5em;
}

.links {
  margin: 0 0 0 auto;

  & * {
    margin: 0 .5em;
  }
}