.app.dark {
  --bg-color: rgb(85, 85, 163);
  --inverted-bg-color: rgba(238, 238, 238, 0.945);
  
  --primary-color: rgb(0, 224, 0);
  --secondary-color: #04ff04;
  --inverted-primary-color: rgb(0, 0, 0);
  --inverted-secondary-color: #666666;
}